:root{
    --blue-bacground: rgb(31, 169, 255);
    --gray-bacground: rgba(169, 181, 183, 0.345);
}

body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(20, 0.5fr);
    grid-template-rows: repeat(20, 5vh);
}

.dashbord{
    background-color: var(--blue-bacground);
    grid-area: 1/1/21/4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:auto;
    gap: 5vh;
    padding: 1.5vh 1vw 40vh 1vw;
    min-width: 160px;
}

.dashbord a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.dashbord .logo{
    font-size: 30px;
    font-weight: 900;
}

.dashbord .dashLinksTop{
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
}

.dashLinksTop a {
    word-spacing: 10px;

}

.dashbord .dashLinksbottom{
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
}

.header{
    background-color: white;
    grid-area: 1/4/2/21;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    align-items: end;
    min-width: 650px;
}

.header .leftHeader{
    display: flex;
    gap: 15px;
    align-items: end;
}

.header form{
    display: flex;
    gap: 5px;
    align-items: center;
}

.hLogo{
    color: rgb(255, 196, 0);
    font-size: 45px;
    transform: translateY(12px);
}

.notification{
    font-size: 26px;
}

.Search_button {
    background-color: white;
    border: none;
    font-size: 28px;
}

form input {
    background-color:var(--gray-bacground);
    border-radius: 20px;
    height: 4vh;
    width: 45vw;
    border: none;
}

.leftHeader .name {
    font-size: 17px;
    font-weight: 900;
    transform: translateY(-5px);
}

.nav{
    background-color: white;
    grid-area: 2/4/4/21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.nav .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav .left .nLogo{
    color: rgb(255, 196, 0);
    font-size: 65px;
}

.greeting .name {
    font-size: 27px;
    font-weight: 700;
}

.nav .navbuttons{
    display: flex;
    gap: 1.5vw;
}

.nav .navbuttons button{
    background-color: var(--blue-bacground);
    height: 4vh;
    min-width: 60px;
    width: 7vw;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 700;

}

.main{
    min-width: 850px;
    height: 85vh;
    grid-area: 4/4/21/21;
    display: grid;
    grid-template-columns: repeat(20, 0.5fr);
    grid-template-rows: repeat(20, 4.1vh);
    background-color: var(--gray-bacground);
}

h1 {
    font-size: 23px;
    font-weight: 900;
}

.projects {
    overflow: auto;
    padding: 1vh 3%;
    grid-area: 1/1/21/16;
}

.cards{
    overflow: auto;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3, minmax(max(100px, 23vh), 1fr));
    grid-template-columns: repeat(2, minmax(150px, 1fr));
}

.projects .card{
    background-color: white;
    padding: 20px;
    border-left: solid rgb(255, 196, 0) 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .title {
    font-weight: 800;
    font-size: 17px;
}

.card .icons{
    font-weight: 900;
    font-size: 25px;
    display: flex;
    gap: 15px;
    align-self: flex-end;
}

.card .content {
    font-size: 15px;
}

.announcements {
    overflow: auto;  
    grid-area: 1/16/11/21;
}

.anCards{
    overflow: auto;
    min-width: 170px;
    background-color: white;
    padding: 15px;
    margin-right: 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.anCards .ansmtCards{
    padding-bottom: 15px;
    border-bottom: solid rgba(0, 0, 0, 0.388) 1px;
    min-width: 170px;
}

.anCards .ansmtCards .ansmthead{
    font-weight: 800;
}

.trending{
    grid-area: 11/16/21/21; 
    overflow: auto;  
}

.trending .trendCards{
    overflow: auto;
    min-width: 170px;
    background-color: white;
    padding: 15px;
    margin-right: 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.trending .trendCards .trendCard{
    display: flex;
    align-items: center;
    min-width: 190px;
    gap: 10px;
}

.trending .trendCards .trendCard .userName{
    font-size: 20px;
    font-weight: 600;
}


#one{
    color: rgb(23, 166, 233);
    font-size: 40px;
}

#two{
    color: rgb(233, 90, 23);
    font-size: 40px;
}

#three{
    color: rgb(52, 63, 67);
    font-size: 40px;
}

#four{
    color: rgb(23, 233, 48);
    font-size: 40px;
}